body {
  background-color: #85FFC7;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 21px;
}
h1 {
    color: #380036;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 55px;
    letter-spacing: 10px;
}
h2 {
	color: #4B0082;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: ;
	font-size: 30px;
	letter-spacing: ;
	text-transform: ;
}
a {
  text-decoration: none;
  font-weight: 600;
}
a:hover {
	color: #81D8D0 ;
}
.img-circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.container {
	width: 1258px;
    margin: 25px auto;
    text-align: center;
    border-radius: 21px;
}
@media (max-width :1300px) {
	.container {
		width: 1000px;
	}
}
@media (max-width :1100px) {
	.container {
		width: 850px;
	}
}
@media (max-width :880px) {
	.container {
		width: 670px;
	}
}
@media (max-width :670px) {
	.container {
		width: 640px;
	}
}
@media (max-width :640px) {
	.container {
		width: 590px;
	}
}
@media (max-width :590px) {
	.container {
		width: 540px;
	}
}
@media (max-width: 540px) {
	.container {
		width: 500px;
	}
}
@media (max-width :500px) {
	.container {
		width: 450px;
	}
}
@media (max-width :450px) {
	.container {
		width: 390px;
	}
}
@media (max-width :390px) {
	.container {
		width: 350px;
	}
}
.card-grey {
    background-color: #D0D6DE;
    border-radius: 24px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 30%);
    padding: 27px 31px;
    margin: 24px 37px;
}
.btn-blue {
	background-color: #81D8D0;
	color: black;
	padding: 11px;
	border-radius: 6px;
}
.btn-blue:hover {
	background-color: black;
	color: #81D8D0;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
}
.list-inline i {
	font-size: 50px;
	color: rgb(120,120,120);
}
.list-inline i:hover {
	color: #81D8D0;
}
#title {
    padding: 6px 8px;
    margin: 24px 37px;
}